
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  @apply font-roboto;
}

h1 {
  @apply font-marker;
}

.text-shadow {
  text-shadow: black 1px 1px 1px;
}

a {
  @apply no-underline font-roboto;
}

.button {
  @apply font-marker text-lg py-2 px-4 border border-black hover:bg-black hover:scale-105 hover:text-white hover:font-extrabold hover:shadow-xl hover:shadow-fuchsia-600 transition-all ease-in-out duration-300 rounded-lg;
}

.navlink {
  @apply py-2 px-4 hover:bg-neutral-200 hover:shadow transition-all ease-in-out duration-300 shadow-black rounded-full ;
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}